* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
}

.hr {
    margin: 0 5px;
}

.link {
    margin: 8px 0 8px 10px;
}

a {
    border-right: 2px solid black;
    padding-right: 8px;
    color: darkgray;
    margin: 0;
}

a:hover {
    color: palevioletred;
    text-decoration: none;
}

a:active {
    color: red;
}

.name {
    margin: 25px 0;
    font-size: 22px;
    margin-left: 20px;
}

.img {
    display: block;
    width: 150px;
    height: 150px;
    margin: 0 0 10px 20px;
}

.img img {
    width: 100%;
}

.form {
    margin-left: 20px;
}

.form form {
    width: 60%;
    display: flex;
    flex-direction: column;
    margin: 10px;
    border: 2px solid;
    padding: 25px;
}

input {
    padding: 8px;
    width: 70%;
}

label {
    padding: 4px;
    margin-top: 10px;
}

select {
    width: 30%;
    padding: 8px;
    font-size: 15px;
}

textarea {
    margin-bottom: 10px;
    width: 70%;
    height: 50vh;
}

input[type="submit"],
input[type="reset"] {
    width: 10%;
}




/* input{
    display: block;
    margin: 10px 50px;
    padding: 8px;
    width: 50%;
}
form{
    border: 2px solid;
    margin: 10px;
}
.form p{
    margin-left: 20px;
}
select{
    display: block;
} */